@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #000;
  color: rgb(236,76,138);
}
